<h1>アプリ説明</h1>
<h3>このアプリは英単語学習アプリです</h3>
<p>操作方法</p>
<ul>
  <li>1.まずは新規登録(ログイン)してみよう！</li>
  <li>・左上のメニューからいろいろな機能を試してみよう！</li>
  <li>2.単語を作成してみよう！</li>
  <li>3.単語一覧から作成した単語を確認してみよう！</li>
  <li>4.実際に問題を解いてみよう！</li>
  <li>5.覚えた単語は一覧画面で達成にしよう！</li>
</ul>
<ul>
  <li>メニューからプロフィール画面を開いてみよう！(プロフィール画像は編集ページから変更できるよ！)</li>
  <li>プロフィール画面には覚えた単語数や達成率が表示されるよ！</li>
</ul>