<div class="page">
    <main>
      <div class="content">
        <h2>Study English<span>fight</span></h2>
        <p>Let's enjoy English!</p>
        <small><strong>さぁ</strong>無限の彼方へさぁ行くぞぉ～</small>
      </div>
    </main>
</div>  
<div class="lesson-wrapper">
    <div class="heading">
      <h2>手軽に始められる英単語学習</h2>
      <h3>一人でも・みんなとでも</h3>
    </div>
    <div class="lessons">
      <div class="lesson">
        <i class="fas fa-balance-scale fa-large"></i>
        <h4 class="txt-contents">どこでも学習できます</h4>
        <p>メッセージ</p>
      </div>
      <div class="lesson">
        <i class="fas fa-balance-scale fa-large"></i>
        <h4 class="txt-contents">どこでも学習できます</h4>
        <p>メッセージ</p>
      </div>
      <div class="lesson">
        <i class="fas fa-balance-scale fa-large"></i>
        <h4 class="txt-contents">どこでも学習できます</h4>
        <p>メッセージ</p>
      </div>
    </div>
    <div class="sign">
      <a href="#" class="btn-flat-simple">
        <i class="fa fa-caret-right">新規登録</i>
      </a>
    </div>
</div>