<section class="answer">
  <p id="question"></p>
  <ul id="choices"></ul>
  <div id="btn" class="disabled">Next</div>

  <section id="result" class="hidden">
    <p></p>
    <a href="">Replay?</a>
  </section>
</section>
<%= javascript_include_tag "main.js" %>
