  
  <ul class="words">
    <ul class="word-tabs">
      <li class="active"><%= link_to("未達成", "/words") %></li>
      <li><%= link_to("達成", "/practice") %></li>
    </ul>
    <div class="table-responsive">
      <table class="table  table-striped">
        <thead>
          <tr>
            <th>単語一覧</th>
            <th>日本語訳</th>
            <th>達成</th>
          </tr>
        </thead>
        <tbody>
          <%= render @words %>
        </tbody>
      </table>
    </div>  
  </ul>
<%= will_paginate %>