<footer class="footer">
  <small>
    <p> 2020 YU</p>
  </small>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "ヘルプ", "help" %></li>
      <% end %>
      <li><%= link_to "お問い合わせ", "https://twitter.com/yu_pg_bn" %></li>
    </ul>
  </nav>
</footer>